/* 
KOLLA FÖRST OM STYLING FINNS PÅ ELEMENTET SÅ DU INTE SKRIVER ÖVER
🔹 Här ska enbart styling finnas som är specifikt till checkout.
    Exempel
    🔸 Layouter padding och marking på element
    
    Exempel på saker som inte ska stylas
    ⛔  En button som redan är stylad ska inte stylas om eller ändras på. 
        Padding och margin är redan fixat runt en knapp. Arbeta då  på elementen runt om kring

    🧠  Om du vill skapa en ny knapp, exempelvis att vi har en annan styling på knappar som har x i sig. Då stylar vi den
        i det generella  CSS dokumentet med en specifik klass som alla kan sätta på sina buttons som innehåller ikonen X. 
    
🙏🏼 Det är viktigt då det ska se enhetligt ut över allt. Lika bra att lära sig det nu än sen. 
*/

.underline {
    text-decoration: underline;
}
  
.orderForm {
    margin-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
}

.inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.successwrapper {
    margin-left: 2rem;
}


/* Media queries */
@media (min-width: 480px) {
    .successwrapper {
        margin-left: 3rem;
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}