/* 


KOLLA FÖRST OM STYLING FINNS PÅ ELEMENTET SÅ DU INTE SKRIVER ÖVER
🔹 Här ska enbart styling finnas som är specifikt till checkout.
    Exempel
    🔸 Layouter padding och marking på element
    
    Exempel på saker som inte ska stylas
    ⛔  En button som redan är stylad ska inte stylas om eller ändras på. 
        Padding och margin är redan fixat runt en knapp. Arbeta då  på elementen runt om kring

    🧠  Om du vill skapa en ny knapp, exempelvis att vi har en annan styling på knappar som har x i sig. Då stylar vi den
        i det generella  CSS dokumentet med en specifik klass som alla kan sätta på sina buttons som innehåller ikonen X. 
    
🙏🏼 Det är viktigt då det ska se enhetligt ut över allt. Lika bra att lära sig det nu än sen. 
*/

.numberOfProducts {
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-weight: bolder;
    font-size: 1rem;
  
    width: 80vw;
  
    border-radius: 0.8em;
  
    background: rgb(255, 240, 248);
    background: linear-gradient(
      0deg,
      rgba(255, 240, 248, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    box-shadow: 0px 0px 5px 0px rgba(255, 44, 151, 0.31);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 44, 151, 0.31);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255, 44, 151, 0.31);
  
    color: var(--textColor);
  }
  
  .productCard {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  
    width: 20em;
    height: 23em;
  
    position: relative;
    margin: 20px;
    border-radius: 0.8em;
  
    overflow: hidden;
  
    background: rgb(255, 240, 248);
    background: linear-gradient(
      0deg,
      rgba(255, 240, 248, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    box-shadow: 0px 0px 5px 0px rgba(255, 44, 151, 0.31);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 44, 151, 0.31);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255, 44, 151, 0.31);
  
    color: var(--textColor);
  }
  
  .notis {
    position: absolute;
    z-index: 1;
    top: 0;
    padding: 10px;
    background-color: #fb397d !important;
  
    color: white;
    font-weight: bolder;
    font-size: 0.8em;
  
    border-radius: 0px 0px 20px 0px;
  }

  .productCard img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    margin-bottom: 1em;
  }

  .productCard > header {
    display: grid;
    grid-template-columns: 70% 30%;
  
    text-align: start;
    width: 100%;
    padding: 20px;
  }
  
  .productCard > header > * {
    margin: 0px;
  }
  
  .productCard > header > :nth-child(2) {
    justify-self: end;
  }

  .tag {
    display: inline;
    font-size: 0.8em;
    padding: 0.4em;
    margin-right: 0.4em;
    background-color: var(--yellow);
    color: #0e1017;
  
    border-radius: 5px;
  }
  
  .description {
    text-align: left;
    font-size: 0.8em;
  }

  .description > * {
    margin: 0pz;
  }
  
  .productCard > footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
  
    margin-top: 2em;
    margin-bottom: 0.5em;
  }
  
  .productCard > footer > button,
  a {
    font-size: 0.8em;
  }
  
  .addToCartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: var(--mainGreen);
    border-radius: 5px;
  
    color: white;
    font-weight: bolder;
  }
  
  .addToCartContainer > :first-child {
    border-radius: 5px 0px 0px 5px;
    font-size: 18px;
    color: white;
  }

  .addToCartContainer > :nth-child(2) {
    margin: 0px;
    padding-inline: 5px;
  }
  
  .addToCartContainer > :nth-child(3) {
    border-radius: 0px 5px 5px 0px;
    font-size: 18px;
    color: white;
  }