/* 
KOLLA FÖRST OM STYLING FINNS PÅ ELEMENTET SÅ DU INTE SKRIVER ÖVER
🔹 Här ska enbart styling finnas som är specifikt till checkout.
    Exempel
    🔸 Layouter padding och marking på element
    
    Exempel på saker som inte ska stylas
    ⛔  En button som redan är stylad ska inte stylas om eller ändras på. 
        Padding och margin är redan fixat runt en knapp. Arbeta då  på elementen runt om kring

    🧠  Om du vill skapa en ny knapp, exempelvis att vi har en annan styling på knappar som har x i sig. Då stylar vi den
        i det generella  CSS dokumentet med en specifik klass som alla kan sätta på sina buttons som innehåller ikonen X. 
    
🙏🏼 Det är viktigt då det ska se enhetligt ut över allt. Lika bra att lära sig det nu än sen. 
*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  --lightGreen: #73e2a2;
  --mainGreen: #3bcc7e;
  --pink: #ff66a1;
  --lighPink: rgb(255, 240, 248);
  --yellow: #fde58a;
  --textColor: #0e1017;
  --purple: #9753ea;

  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}

#app {
  padding-inline: 1rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;

  padding: 0.1em 3em;
  margin-block: 1em;
  width: 100%;
  align-items: center;

  background-color: var(--pink);
  border: 2px solid lightpink;
  border-radius: 10em;

  color: white !important;
  font-weight: bolder;
}

main {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header,
article,
.description,
.tagContainer,
footer {
  padding: 0px 20px;
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  margin-top: 0;
  background-color: white;
  border-left: 1px #636363cc solid;
  z-index: 3;
  overflow-y: scroll;
}

label {
  display: flex;
  flex-basis: 50%;
  margin-bottom: 0.5rem;
  margin-right: 0.6rem;
}

input {
  flex: 1;
  padding: 0.5rem;
  margin-bottom: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 0.2rem;  
}

li {
  list-style: none;
  width: 100% ;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;

  font-weight: 500;
  font-family: inherit;
  background-color: var(--mainGreen);

  cursor: pointer;
}

/* button:disabled {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;

  font-weight: 500;
  font-family: inherit;
  background-color: var(--mainGreen);

  cursor: pointer;
} */

button:active {
  background-color: #2fa365;
}

/* Media queries */
@media (min-width: 480px) {
  #app {
    padding-inline: 1rem;
  }
  nav {
    margin-block: 2em;
  }
}

@media (min-width: 768px) {
  #app {
    padding-inline: 1rem;
  }
  nav {
    margin-block: 2em;
  }
  aside{
    width: 60%;
  }
}

@media (min-width: 992px) {
  aside{
    width: 40%;
  }
  #app {
    padding-inline: 3rem;
  }
  nav {
    margin-block: 2em;
  }
}

@media (min-width: 1200px) {
  aside{
    width: 30%;
  }
  #app {
    padding-inline: 3rem;
  }
  nav {
    margin-block: 3em;
  }
}

@media (min-width: 1400px) {
  #app {
    padding-inline: 10rem;
  }
  nav {
    margin-block: 3em;
  }
}
